#welcome-section{height:100vh;}

#navbar{
  top:0; 
  position:fixed;
  width:100%;
  text-align:center;
background-color:white;}

#welcome-section{
  font-size:50px;
  text-align:center;
}

img{max-width: 100%}

body {background-color: lightgreen;}

@media only screen and (max-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ body {
    background-color: lightblue;
  }
}
